h4 {
    padding-top: 20px;
    margin-top: 0;
}

.interactive-container {
    min-width: 920px;
}

.activity-completed {
    display: inline;
    margin-left: -15px;
}

.steps {
    margin: 10px 0 5px 0;
}

.career-planning {
    margin-top: 20px;
}

a.btn.btn-default {
    margin-left: 10px;
}

.info-header {
    margin: 0 0 10px 0;
    padding: 0;
}

.info-header h3 {
    margin: 0;
    padding: 0;
    line-height: 44px;
    margin-left: -15px;
    font-size: 20px;
}

.row-nopadding {
    margin: 0;
    padding: 0;
}

.basic_instructions {
    padding: 10px 10px 10px 60px;
    background: #d9edf7 url('../img/icon_info.png') no-repeat 10px center;
    vertical-align: middle;
    color: #3a87ad;
    min-height: 56px;
}

.success_instructions {
    padding: 10px 10px 10px 60px;
    background: #dff0d8 url('../img/icon_check.png') no-repeat 10px center;
    vertical-align: middle;
    color: #468847;
    min-height: 56px;
}

.visualclear {
    clear: both;
}

.partitioned {
    border-right: 1px dotted #ccc;
}

/* Case quizzes */

.cases {
  min-height: 20px;
  padding: 3px;
  margin-bottom: 20px;
  background-color: #fff;
  border: 1px solid #ccc;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
  margin-top: 20px;
}

.casetitle
{
    background-color: #e6f2d8;
    margin: 0;
    padding: 5px 10px;
    border: 0;
    font-weight: bold;
  -webkit-border-top-left-radius: 4px;
     -moz-border-top-left-radius: 4px;
          border-top-left-radius: 4px;
  -webkit-border-top-right-radius: 4px;
     -moz-border-top-right-radius: 4px;
          border-top-right-radius: 4px;
}

.casecontent
{
    margin: 10px;
    padding: 0;
    border: 0;
}

.casequestion
{
    margin: 0;
    padding: 0;
    border: 0;
}

.cases ul {
    list-style: none;
}

.cases li
{
    margin: 3px 0;
}

.cases label {
    font-weight: normal;
}

.cases textarea {
    width: 90% !important;
}

.casesanswerdisplay {
    margin: 0;
    padding: 5px;
    border: 1px solid #999;
    line-height: 18px;
}

.page-1 .actor-image {
    margin: 0 auto; 
}

.actor-image-1 {
    width: 350px;
    height: 272px;
    background-image: url('../img/sam.jpg');
    background-repeat: no-repeat;
    background-position: center center;
}

.actor-image-2 {
    width: 350px;
    height: 272px;
    background-image: url('../img/sally.jpg');
    background-repeat: no-repeat;
    background-position: center center;
}

.actor-image-3 {
    width: 300px;
    height: 303px;
    background-image: url('../img/you.jpg');
    background-repeat: no-repeat;
    background-position: center center;
}

/* map view */
#map-layers-modal .modal-dialog {
    width: 910px;
    font-size: .9em;
}

#map-layers-modal h5 {
    margin-top: 0px;
}

#map-layers-modal checkbox {
    margin-top: 7px;
    margin-bottom: 7px;
}

#map-layers-modal .layers-info {
    padding-right: 0;
    width: 280px;
}

.map-layers {
    height: 350px;
    position: relative;
    width: 600px;
    margin-left: auto;
    margin-right: auto;
}

.map-layer {
    width: 600px;
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}

.did-you-know .fact-text {
    height: 200px;
}