<div class="page-1">
    <div class="row info-header">
        <div class="col-xs-12">
            <h3>Step 1. Location Considerations</h3>
        </div>
    </div>

    <div class="row row-nopadding hidden-print">
        <div class="col-xs-12 row-nopadding">
            <% if (complete) { %>
                <div class="success_instructions well left alert-success">
                    <b>Great work!</b> Click <b>Step 2</b> to continue.
                </div>
            <% } else { %>
                <div class="basic_instructions well left alert-info">
                    Identify the primary factors to consider when selecting a dental location.
                </div>
            <% } %>
        </div>
    </div>

    <div class="row row-nopadding">
        <div class="col-xs-7 row-nopadding">
            <h4><%= actor.intro_title %></h4>
            <p><%= actor.intro_text %></p>
            <h4>Factors to consider</h4>
            <p>Before looking at the map, think about some of the factors that might play a significant role in <% if (actor.reflect) { %>your own<% } else { %><%= actor.display_name %>'s<% } %> decision.</p>
            <p>Choose what you think the top 3 factors should be from the lists below.</p>
        </div>
        <div class="col-xs-5 row-nopadding">
            <div class="actor-image actor-image-<%=actor.id%>"></div>
        </div>
    </div>

    <div class="row row-nopadding">
        <div class="col-xs-12 row-nopadding">
            <form>
            <div class="cases">
                <div class="casetitle">Question 1</div>
                <div class="casecontent">
                    <div class="casequestion">
                        <div class="casequestion-text clearfix">
                            <div class="question-text">
                                <div class='question-sub'><p>Most important factor</p></div>
                            </div>
                        </div>
                        <select name="factor1" <% if (complete) { %>disabled="disabled" <% } %>>
                            <option value="-----">-----</option>
                            <option value="Work area (urban, suburban, or rural)">Work area (urban, suburban, or rural)</option>
                            <option value="Patient population’s socioeconomic status">Patient population’s socioeconomic status</option>
                            <option value="Personal debt to repay">Personal debt to repay</option>
                            <option value="A need for dentists based on population size or level of disease">A need for dentists based on population size or level of disease</option>
                            <option value="Ability to identify with the patient population socially">Ability to identify with the patient population socially</option>
                            <option value="Ample opportunities to make a good living">Ample opportunities to make a good living</option>
                            <option value="School system or other family related obligations">School system or other family related obligations</option>
                            <option value="Available leisure and cultural activities">Available leisure and cultural activities</option>
                            <option value="Length of commute or availability of reliable transportation">Length of commute or availability of reliable transportation</option>
                            <option value="Patient population is diverse">Patient population is diverse</option>
                        </select>
                    </div>
                </div>
            </div>

            <div class="cases">
                <div class="casetitle">Question 2</div>
                <div class="casecontent">
                    <div class="casequestion">
                        <div class="casequestion-text clearfix">
                            <div class="question-text">
                                <div class='question-sub'><p>Next important factor:</p></div>
                            </div>
                        </div>
                        <select name="factor2" <% if (complete) { %>disabled="disabled" <% } %>>
                             <option value="-----">-----</option>
                            <option value="Work area (urban, suburban, or rural)">Work area (urban, suburban, or rural)</option>
                            <option value="Personal debt to repay">Personal debt to repay</option>
                            <option value="A need for dentists based on population size or level of disease">A need for dentists based on population size or level of disease</option>
                            <option value="Ability to identify with the patient population socially">Ability to identify with the patient population socially</option>
                            <option value="Ample opportunities to make a good living">Ample opportunities to make a good living</option>
                            <option value="School system or other family related obligations">School system or other family related obligations</option>
                            <option value="Available leisure and cultural activities">Available leisure and cultural activities</option>
                            <option value="Length of commute or availability of reliable transportation">Length of commute or availability of reliable transportation</option>
                            <option value="Patient population is diverse">Patient population is diverse</option>
                            <option value="Patient population’s socioeconomic status">Patient population’s socioeconomic status</option>
                        </select>
                    </div>
                </div>
            </div>

            <div class="cases">
                <div class="casetitle">Question 3</div>
                <div class="casecontent">
                    <div class="casequestion">
                        <div class="casequestion-text clearfix">
                            <div class="question-text"><div class='question-sub'><p>Third important factor:</p></div></div>
                        </div>
                        <select name="factor3" <% if (complete) { %>disabled="disabled" <% } %>>
                            <option value="-----">-----</option>
                            <option value="Work area (urban, suburban, or rural)">Work area (urban, suburban, or rural)</option>
                            <option value="Personal debt to repay">Personal debt to repay</option>
                            <option value="A need for dentists based on population size or level of disease">A need for dentists based on population size or level of disease</option>
                            <option value="Ability to identify with the patient population socially">Ability to identify with the patient population socially</option>
                            <option value="Ample opportunities to make a good living">Ample opportunities to make a good living</option>
                            <option value="School system or other family related obligations">School system or other family related obligations</option>
                            <option value="Available leisure and cultural activities">Available leisure and cultural activities</option>
                            <option value="Length of commute or availability of reliable transportation">Length of commute or availability of reliable transportation</option>
                            <option value="Patient population is diverse">Patient population is diverse</option>
                            <option value="Patient population’s socioeconomic status">Patient population’s socioeconomic status</option>
                        </select>
                    </div>
                </div>
            </div>
            </form>
        </div>
    </div>
    <div class="row row-nopadding hidden-print">
        <div class="col-xs-12 text-center">
            <% if (!complete) { %>
                <button id="identify-factors" class="btn btn-primary">Submit</button>
            <% } %>
        </div>
    </div>
</div>