<div class="page-2">
    <div class="row info-header">
        <div class="col-xs-12">
            <h3>Step 2. <%= actor.advise_title %></h3>
        </div>
    </div>

    <div class="row row-nopadding hidden-print">
        <div class="col-xs-9 row-nopadding">
            <% if (complete) { %>
                <div class="success_instructions well left alert-success">
                    <b>Great work!</b>
                    <% if (actor.reflect) { %>
                     Next, click <b>Step 3</b> to view your summary of your choices.
                    <% } else { %>
                     Next, click <b>Step 3</b> to view your summary of the advice you gave.
                    <% } %>
                </div>
            <% } else { %>
                <div class="basic_instructions well left alert-info">
                    You just got access to a map of North Oralington.<br />
                    <% if (actor.reflect) { %>
                    After considering the available information on North Oralington, what type of dental career would you select for yourself?
                    <% } else { %>
                    Review the map and offer advice on a dental office location.
                    <% } %>
                </div>
            <% } %>
        </div>
        <div class="col-xs-3 row-nopadding">
            <a href="#" class="btn btn-success pull-right" data-toggle="modal" data-target="#map-layers-modal">
                <span class="glyphicon glyphicon-globe"></span> North Oralington Map
            </a>
        </div>
    </div>
    <div class="row row-nopadding">
        <div class="col-xs-12 row-nopadding">
            <div class="actor-advice">
                <form>
                <!--  actor's 1st 3 questions -->
                <% for (var i = 0; i < actor.questions.length; i++) { %>
                    <% var question = actor.questions[i]; %>

                    <div class="cases">
                        <div class="casetitle">Question <%= i + 1 %></div>
                        <div class="casecontent">
                            <div class="casequestion">
                                <div class="casequestion-text clearfix">
                                    <div class="question-text">
                                        <p><%= question.text %></p>
                                    </div>
                                </div>
                                <ul class="caseanswercontainer">
                                    <% for (var j = 0; j < question.answers.length; j++) { %>
                                        <% var answer = question.answers[j]; %>
                                        <% var name = "advice" + i; %>
                                        <li>
                                        <label>
                                        <input type="radio" name="<%=name%>" value="<%= answer %>"
                                            <% if (complete) { %>disabled="disabled"<% } %>
                                            <% if (responses[name] === answer) { %> checked="checked" <% } %> />
                                        <span class="caseanswerlabel"><%= answer %></span>
                                        </label>
                                        </li>
                                    <% } %>
                                </ul>
                            </div>
                        </div>
                    </div>
                <% } %>

                <div class="cases">
                    <div class="casetitle">Question 3:</div>
                    <div class="casecontent">
                        <div class="casequestion">
                            <div class="casequestion-text clearfix">
                                <div class="question-text">
                                <p><% if (actor.reflect) { %>
                                After considering the available information on North Oralington, where would you set up or join a practice? Please use the map to select a zip code.
                                <% } else { %>
                                Now spend some time to further explore North Oralington using the interactive map. Based on the summary and your investigation, where would you recommend <%= actor.display_name %> to set up or join a practice? Please use the map to select a zip code.
                                <% } %></p>
                                </div>
                            </div>
                            <select name="officezip" <% if (complete) { %>disabled="disabled" <% } %>>
                                <option value="-----">-----</option>
                                <option value="10001">10001</option>
                                <option value="10002">10002</option>
                                <option value="10003">10003</option>
                                <option value="10004">10004</option>
                                <option value="10005">10005</option>
                                <option value="10006">10006</option>
                                <option value="10007">10007</option>
                                <option value="10008">10008</option>
                                <option value="10009">10009</option>
                                <option value="10010">10010</option>
                                <option value="10011">10011</option>
                                <option value="10012">10012</option>
                                <option value="10013">10013</option>
                                <option value="10014">10014</option>
                                <option value="10015">10015</option>
                                <option value="10016">10016</option>
                                <option value="10017">10017</option>
                                <option value="10018">10018</option>
                                <option value="10019">10019</option>
                                <option value="10020">10020</option>
                                <option value="10021">10021</option>
                                <option value="10022">10022</option>
                                <option value="10023">10023</option>
                                <option value="10024">10024</option>
                                <option value="10025">10025</option>
                                <option value="10026">10026</option>
                                <option value="10027">10027</option>
                                <option value="10028">10028</option>
                                <option value="10029">10029</option>
                                <option value="10030">10030</option>
                                <option value="10031">10031</option>
                                <option value="10032">10032</option>
                                <option value="10033">10033</option>
                                <option value="10034">10034</option>
                                <option value="10035">10035</option>
                                <option value="10036">10036</option>
                                <option value="10037">10037</option>
                                <option value="10038">10038</option>
                                <option value="10039">10039</option>
                                <option value="10040">10040</option>
                                <option value="10041">10041</option>
                                <option value="10042">10042</option>
                                <option value="10043">10043</option>
                                <option value="10044">10044</option>
                                <option value="10045">10045</option>
                                <option value="10046">10046</option>
                                <option value="10047">10047</option>
                                <option value="10048">10048</option>
                                <option value="10049">10049</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="cases">
                    <div class="casetitle">Question 4:</div>
                    <div class="casecontent">
                        <div class="casequestion">
                            <div class="casequestion-text clearfix">
                                <div class="question-text">
                                    <p>
                                    <% if (actor.reflect) { %>
                                    How did you come to make this decision? List at least 3 important considerations explaining your reasoning.
                                    <% } else { %>
                                    Please explain the reasoning for your choice.
                                    <% } %>
                                    </p>
                                </div>
                            </div>
                            <textarea rows="10" name="reasoning" class="form-control<% if (complete) { %> reasoning-text<% } %>" <% if (complete) { %>disabled="disabled" <% } %>><%= responses.reasoning %></textarea>
                        </div>
                    </div>
                </div>
                </form>
            </div>
        </div>
    </div>
    <div class="row row-nopadding hidden-print">
        <div class="col-xs-12 text-center">
            <% if (!complete) { %>
                <button id="offer-advice" class="btn btn-primary">Submit</button>
            <% } %>
        </div>
    </div>
</div>